In [4]:
import pandas as pd
import numpy as np

# 1.2 Cargar el archivo con el separador ;
# Usamos el nombre exacto de tu archivo|1
df = pd.read_csv('Cars.csv', sep=';')

# 1.3 y 1.4 Primer vistazo
print("Primeros 5 registros")
display(df.head())

print("Últimos 5 registros")
display(df.tail())

# 1.5 y 1.6 Dimensiones e Info
print(f"Dimensiones: {df.shape}")
print("\n--- Información General del Dataset ---")
df.info()

Primeros 5 registros

,Numero,Modelo,Categoria,MPG,Cilindros,Desplazamiento,Fuerza,Peso,Aceleracion,Ano,Origen,Choques,Taller,Propietarios
0,1,chevrolet chevelle malibu,D,18.0,8,307.0,130.0,3504.0,12.0,70,US,4.0,4,4
1,2,buick skylark 320,F,15.0,8,350.0,165.0,3693.0,11.5,70,US,3.0,10,6
2,3,plymouth satellite,A,18.0,8,318.0,150.0,3436.0,11.0,70,US,1.0,4,3
3,4,amc rebel sst,A,16.0,8,304.0,150.0,3433.0,12.0,70,US,2.0,10,2
4,5,ford torino,D,17.0,8,302.0,140.0,3449.0,10.5,70,US,3.0,3,3

Últimos 5 registros

,Numero,Modelo,Categoria,MPG,Cilindros,Desplazamiento,Fuerza,Peso,Aceleracion,Ano,Origen,Choques,Taller,Propietarios
389,390,ford mustang gl,C,27.0,4,140.0,86.0,2790.0,15.6,82,US,3.0,9,5
390,391,vw pickup,F,44.0,4,97.0,52.0,2130.0,24.6,82,Europe,1.0,9,2
391,392,dodge rampage,F,32.0,4,135.0,84.0,2295.0,11.6,82,US,4.0,10,4
392,393,ford ranger,C,28.0,4,120.0,79.0,2625.0,18.6,82,US,4.0,7,1
393,394,chevy s-10,G,31.0,4,119.0,82.0,2720.0,19.4,82,US,3.0,3,5

Dimensiones: (394, 14)

--- Información General del Dataset ---
<class 'pandas.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Numero          394 non-null    int64
 1   Modelo          394 non-null    str
 2   Categoria       390 non-null    str
 3   MPG             390 non-null    float64
 4   Cilindros       394 non-null    int64
 5   Desplazamiento  393 non-null    float64
 6   Fuerza          391 non-null    float64
 7   Peso            392 non-null    float64
 8   Aceleracion     394 non-null    float64
 9   Ano             394 non-null    int64
 10  Origen          390 non-null    str
 11  Choques         390 non-null    float64
 12  Taller          394 non-null    int64
 13  Propietarios    394 non-null    int64
dtypes: float64(6), int64(5), str(3)
memory usage: 43.2 KB

In [5]:
# 2.1 Verificar valores nulos por columna
print("Valores Faltantes")
print(df.isnull().sum())

# 2.2 Verificar si 'Fuerza' es un número o texto
print("Tipo de dato de la columna Fuerza")
print(df['Fuerza'].dtype)

Valores Faltantes
Numero            0
Modelo            0
Categoria         4
MPG               4
Cilindros         0
Desplazamiento    1
Fuerza            3
Peso              2
Aceleracion       0
Ano               0
Origen            4
Choques           4
Taller            0
Propietarios      0
dtype: int64
Tipo de dato de la columna Fuerza
float64

In [6]:
# Contar cuántas filas tenemos antes de borrar
filas_antes = len(df)

# Borrar todas las filas que tengan AL MENOS un valor vacío (NaN)
df = df.dropna()

# Contar cuántas filas quedaron
filas_despues = len(df)

print(f"Limpieza de nulos")
print(f"Filas eliminadas: {filas_antes - filas_despues}")
print(f"Filas restantes: {filas_despues}")

# Verificar que ya no queden nulos en ninguna columna
print("Conteo de nulos final:")
print(df.isnull().sum())

Limpieza de nulos
Filas eliminadas: 22
Filas restantes: 372
Conteo de nulos final:
Numero            0
Modelo            0
Categoria         0
MPG               0
Cilindros         0
Desplazamiento    0
Fuerza            0
Peso              0
Aceleracion       0
Ano               0
Origen            0
Choques           0
Taller            0
Propietarios      0
dtype: int64